.about-cards-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.single_tp {
    flex: 1;
    text-align: left;
    padding: 30px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #f0f0f0;
    
}

.single_tp:last-child {
    border-right: none;
}


.single_tp h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0e1948;
    font-weight: 700;
}

.single_tp p {
    color: #888;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.explore-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #0e1948;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}


.explore-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    background-color: rgba(54, 221, 140, 0.1); 
    border-radius: 50%;
    z-index: 0;
    transition: background-color 0.3s ease;
}


.explore-button span {
    position: relative;
    z-index: 1;
    margin-left: 55px;
    width:"2px";
     height:"100px"
}

.explore-button i {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}


.single_tp:hover .explore-button {
        transform: translateY(-5px);
        max-width: 180px;
        border-radius: 35%;
        width :"1px";
        min-height: 50px;
        padding-left: 5px;
 height:"30px";
    background-color: #36dd8c;
   

}


.explore-button:hover i {
        transform: translateY(-5px);
    margin-left: 1px;
}

@media (max-width: 768px) {
    .about-cards-row {
        flex-direction: column;
        gap: 0;
    }

    .single_tp {
        padding: 60px;
        border-right: none;
        border-bottom: 1px solid #f0f0f0;
    }

    .single_tp:last-child {
        border-bottom: none;
    }
}