.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.hero-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.hero-image-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.hero-text-container {
  flex: 1;
  padding: 20px;
}

.hero-text-container h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-text-container h2 span {
  color: #00d084; 
  font-weight: bold;
}

.hero-text-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #7a7a7a;
  margin-top: 20px;
}

.explore-btn {
  display: inline-block;
  background-color: #00d084;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #00b769;
}


@media (max-width: 768px) {
  .hero-content-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image-container, .hero-text-container {
    padding: 10px;
  }

  .hero-text-container h2 {
    font-size: 32px;
  }
}
.faq-title {
  font-size: var(--main-h2-font-size);
  margin: var(--main-h2-margin);
  font-weight: var(--main-h2-font-weight);
  color: #1a2d62;
}

.team-title {
  font-size: var(--main-h2-font-size);
  font-weight: var(--main-h2-font-weight);
  color: #54595F;
}