.partners-section {
  padding: 80px 0;
}

.partner_title {
  text-align: center;
  margin-bottom: 60px;
}

.partner_title h3 {
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  background: rgba(46, 202, 127, 0.1);
  padding: 10px;
  border-radius: 30px;
  width: 60%;
  margin: auto;
  color: #2eca7f;
}

.partners-carousel {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap;
}

.partner-item img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;
}

.partner-item img:hover {
  filter: none;
  opacity: 1;
}
.faq-title {
  font-size: var(--main-h2-font-size);
  margin: var(--main-h2-margin);
  font-weight: var(--main-h2-font-weight);
  color: #1a2d62;
}

.team-title {
  font-size: var(--main-h2-font-size);
  font-weight: var(--main-h2-font-weight);
  color: #54595F;
}