
.top-header-bar {

  position: sticky;
  top: 0;
  z-index: 1001; 
  background-color: #262626;

  height: 54px;
}


.top-header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}


.envato-section {
  display: flex;
  column-gap: 0.5rem;
}


.envato-logo {
  display: inline-block;
  position: absolute;
  top: 18px;
  text-indent: -9999px;
  height: 18px;
  width: 152px;
  background-size: 152px 18px;
}


.buy-now-btn {
  padding: 0.5rem 1rem;
  font-size: 14px;
  line-height: 1.5;
  column-gap: 0.5rem;
  background-color: #8bc34a;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 600;
  transition-property: background-color;
  transition-duration: 200ms;
}


.buy-now-btn:hover {
  background-color: rgba(139, 195, 74, 0.9);
}.faq-title {
  font-size: var(--main-h2-font-size);
  margin: var(--main-h2-margin);
  font-weight: var(--main-h2-font-weight);
  color: #1a2d62;
}

.team-title {
  font-size: var(--main-h2-font-size);
  font-weight: var(--main-h2-font-weight);
  color: #54595F;
}